.article-blockquote {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $gutter;
    @include fs-xxl-clamp;
    line-height: 1;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    @media (max-width: $sm){
        grid-gap: 0;
    }
}

.article-blockquote blockquote {
    text-align: center;
    grid-column: 2/12;
    margin: 0;

    @media (max-width: $xl){
        grid-column: 1/13;
    }
}

.article-blockquote p {

}

.article-blockquote span {
    display: inline-block;
}

.article .article__block:not(.article-blockquote) blockquote {
    position: relative;
    left: 50%;
    font-family: $font-brand;
    @include fs-xxl-clamp;
    line-height: 1;
    margin: 1.5em 0 1.5em -35vw;
    text-align: center;
    width: 70vw;
    padding: 0;
    line-height: 1;

    p {
        font-family: inherit;
        line-height: inherit;
    }

    span {
        display: inline-block;
    }

    @media (max-width: $xl){
        width: calc(94vw - 80px);
        margin-left: calc(-47vw + 40px);
    }

    @media (max-width: $sm){
        width: calc(100vw - 40px);
        margin-left: calc(-50vw + 20px);
    }
}