.article-text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $gutter;
    @include fs-lg;
    font-family: $font-text;

    >div {
        grid-column: 5/9;
    }

    p {
        font-family: $font-text;
        
        line-height: 1.25
    }

    ul, ol {
        padding: 0 0 0 1em;
    }

    a {
        color: inherit;
    }

    @media (max-width: $xxl){
        > div {
            grid-column: 4/10;
        }
    }

    @media (max-width: $xl){
        @include fs-md;
        > div {
            grid-column: 3/11;
        }
    }

    @media (max-width: $md){
        @include fs-sm;
    }

    @media (max-width: $sm){
        grid-gap: 0;
        > div {
            
            grid-column: 2/12;
        }
    }
}