.article {
    color: $primary;
    padding: 0 $gutter $gutter;

    @media (max-width: $sm){
        padding: 0 $gutter/2 $gutter/2;
    }
}

.article__block {
    margin-top: $gutter*2;
    margin-bottom: $gutter*2;


    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }


}