.article {
    padding: 0 $gutter $gutter;

    h2, h3, h4, h5 {
        margin-bottom: 1em;
        font-family: $font-brand;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.75em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.25em;
    }

    @media (max-width: $md){
        padding: 0 $gutter/2 $gutter/2;
    }
}

.article__block {
    margin-top: $gutter*2;
    margin-bottom: $gutter*2;


    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }


}

// .article-media--small + .article-media--small {
//     margin-top: $gutter/2;
// }