.article-media {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-media--full {
    width: 100%;
}

.article-media--small {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $gutter;
    // padding: 0 $gutter;
    @include fs-lg;

    >div {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        grid-column: 5/9;
    }

    @media (max-width: $xxl){
        > div {
            grid-column: 4/10;
        }
    }

    @media (max-width: $xl){

        > div {
            grid-column: 3/11;
        }
    }

    @media (max-width: $sm){
        display: block;

        > div {
            grid-column: 1/13;
        }
    }
}

.article-media__frame {
    position: relative;
    flex: 0 0 calc(50% - 10px);
    border-radius: $radius;
    overflow: hidden;

    &--24-36 {
        aspect-ratio: 24/36;
    }

    &--36-24 {
        aspect-ratio: 36/24;
    }

    &--6-7 {
        aspect-ratio: 6/7;
    }

    &--7-6 {
        aspect-ratio: 7/6;
    }

    &--16-9 {
        aspect-ratio: 16/9;
    }

    &--1-1 {
        aspect-ratio: 1/1;
    }

    &--screen {
        width: 100%;
        height: calc(100vh - $gutter*2);

        @media (orientation: portrait) {
            height: unset;
            aspect-ratio: 36/24;
        }
    }

    img {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform-origin: bottom;
    }

    .article-media--full & {
        img {
            height: calc(100% + 10vh);

            @media (orientation: landscape) {
                height: calc(100% + 10vh);
            }

            @media (orientation: portrait) {
                height: calc(100% + 10vw);
            }

            @media (max-width: $lg){
                height: 100%;
            }
        }
    }

    &:only-child {
        flex: 0 0 100%;
    }

    &:nth-child(n+3){
        margin-top: $gutter/2;
    }

    .article-media--small & {
        border-radius: $radius/2;
    }

    @media (max-width: $md){
        border-radius: $radius/2;
    }

    @media (max-width: $sm){
        border-radius: $radius/3;
    }
}

.article-p-media {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $gutter/2;

    br {
        display: none;
    }

    img {
        display: block;
        flex: 0 0 calc(50% - 10px);
        height: auto;
        border-radius: $radius/2;
        overflow: hidden;
        
        &:only-child {
            flex: 0 0 100%;
        }
        
        // &:nth-child(n+3){
        //     margin-top: $gutter/2;
        // }

        @media (max-width: $sm){
            border-radius: $radius/3;
            flex: 0 0 100%;

            // &:not(:only-child){
            //     margin-bottom: $gutter/2;
            // }

            // &:nth-child(n+3){
            //     margin-top: 0;
            // }

            // &:last-child {
            //     margin-bottom: 0;
            // }
            
        }
    }

    iframe {
        width: 100%;
        aspect-ratio: 1.75/1;
        height: unset;
        border-radius: $radius/2;
        overflow: hidden;

        @media (max-width: $sm){
            border-radius: $radius/3;
        }
    }
}

.article-text p:has(img) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $gutter/2;

    br {
        display: none;
    }


    img {
        display: block;
        flex: 0 0 calc(50% - 10px);
        height: auto;
        border-radius: $radius/2;
        overflow: hidden;
        
        &:only-child {
            flex: 0 0 100%;
        }
        
        // &:nth-child(n+3){
        //     margin-top: $gutter/2;
        // }

        @media (max-width: $sm){
            border-radius: $radius/3;
            flex: 0 0 100%;

            // &:not(:only-child){
            //     margin-bottom: $gutter/2;
            // }

            // &:nth-child(n+3){
            //     margin-top: 0;
            // }

            // &:last-child {
            //     margin-bottom: 0;
            // }
            
        }
    }
}

.article-text p:has(iframe){
    br {
        display: none;
    }

    iframe {
        width: 100%;
        aspect-ratio: 1.75/1;
        height: unset;
        border-radius: $radius/2;
        overflow: hidden;

        @media (max-width: $sm){
            border-radius: $radius/3;
        }
    }
}