.block--featured {
	position: relative;
	width: 100%;
	height: 100vh;

	.title {
		position: absolute;
		top: 190px;
		left: 0;
		width: 100%;
		z-index: 10;
		color: $white;
	}
}

.featured__bar {
	position: absolute;
	background-color: white;
	z-index: 10;
}

.featured__bar--left,
.featured__bar--right {
	width: $gutter;
	height: 100%;
	top: 0;
	transform: translate3d(0, 0, 0) scalex(0);

	@media (max-width: $sm){
        width: $gutter/2;
    }
}

.featured__bar--top,
.featured__bar--bottom {
	height: $gutter;
	width: 100%;
	left: 0;
	transform: translate3d(0, 0, 0) scaley(0);

	@media (max-width: $sm){
        height: $gutter/2;
    }
}

.featured__bar--left {
	left: 0;
	transform-origin: center left;
}

.featured__bar--right {
	right: 0;
	transform-origin: center right;
}

.featured__bar--top {
	height: 135px;
	top: 0;
	transform-origin: top center;
}

.featured__bar--bottom {
	bottom: 0;
	transform-origin: bottom center;
}

.featured__media {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

// .featured__title {
// 	position: absolute;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	top: 190px;
// 	left: 0;
// 	width: 100%;
// 	color: $white;
// 	z-index: 10;
// 	@include fs-lg;

// 	span {
// 		@include fs-md;
// 		font-family: $font-text;
// 		text-transform: uppercase;
// 	}
	
// 	h2 {
// 		text-transform: uppercase;
// 	}

// }

.featured__cta {
	position: absolute;
	bottom: 100px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 10;
}