.block--text {
    grid-column: 3 / 11;
    @include fs-xxl-clamp;
    line-height: 1;
    text-align: center;
    padding: 4em 0 calc(4em + $gutter*2) 0;

    &:only-child {
        padding: 4em 0;
    }

    &--big {
        @include fs-xxxl-clamp;
    }

    // &--cap {
    //     text-transform: uppercase;
    // }

    @media (max-width: $xl){
        grid-column: 2 / 12;
    }

    @media (max-width: $sm){
        grid-column: 1 / 13;
    }
}

.block--text span {
    display: inline-block;
}