.divided {
	display: flex;
	width: 100%;
	height: 100vh;

	@media (orientation: portrait){
		flex-direction: column;
	}

	@media (max-width: $md){
        height: auto;
    }

}

.divided__side {
	flex: 0 0 50%;
	height: 100%;
	overflow: hidden;

	@media (max-width: $md){
		flex: unset;
		height: auto;
		width: 100%;
		aspect-ratio: 1/1.25;
    }
}

.divided__side--single-media {
	@media (max-width: $md){
        display: none;
    }
}

.single-media {
	width: 100%;
	height: 100%;
}

.single-media__video,
.single-media img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.multiple {
	position: relative;
	width: 100%;
	height: 100%;
}

.multiple__item {
	--top-left: 100%;
	--top-right: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(0 0, 100% 0, 100% var(--top-right), 0% var(--top-left));
}

.multiple__front,
.multiple__back {
	position: absolute;
	display: block;
	top: $gutter;
	left: $gutter;
	width: calc(100% - $gutter * 2);
	height: calc(100% - $gutter * 2);

	@media (max-width: $md){
		top: $gutter / 2;
		left: $gutter / 2;
		width: calc(100% - $gutter);
		height: calc(100% - $gutter);
    }
}

.multiple__front {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: $gutter*2 $gutter $gutter;
	z-index: 10;

	@media (orientation: portrait){
		padding: $gutter;
	}
}

.multiple__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include fs-xl-clamp;

	span {
		@include fs-md;
		font-family: $font-text;
		text-transform: uppercase;
	}
}

.multiple__back {
	z-index: 5;
	background-color: black;
	border-radius: $radius;
	overflow: hidden;

	@media (max-width: $md){
        border-radius: $radius/2;
    }
}

.multiple__back img {
	--blur: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: blur(var(--blur));
}