.dropdowns {
    @include clean-list;
}

.dropdown {
    border-bottom: 1px solid $primary;
    font-family: $font-text;

    p {
        @include fs-sm;
    }
}

.dropdown__trigger {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 1em 0 1em 0;
    @include fs-md;
    text-transform: uppercase;
    padding: 1em 0;
    cursor: pointer;
}

.dropdown__label {
    display: block;
    transform: translate3d(0, 0, 0);
    transition: all 0.4s cubic-bezier(0.5, 0.5, 0, 1);

    .dropdown__trigger:hover & {
        transform: translate3d(1em, 0, 0);
    }
}

.dropdown__plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;

    &:before,
    &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: currentColor;
    }

    &:before {
        margin-bottom: -1px;
    }

    &:after {
        margin-top: -1px;
        transform: rotate(90deg) translate3d(0, 0, 0);
        @include transition;
    }

    .dropdown--is-open & {
        &:after {
            transform: rotate(0deg) translate3d(0, 0, 0);
        }
    }
}

.dropdown__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    will-change: height;


    >div {
        padding: $gutter 0;
        width: 75%;
    }

    .dropdown--is-open & {
        height: auto;
    }

    .module--one-dropdown & {
        >div {
            padding: 0;
        }
    }
}