.product-nav {
    --path-percent: 0%;
    position: fixed;
    top: 0;
    left: calc(50% - 20vw);
    width: 40vw;
    height: calc(100vh - $gutter);
    background-color: $primary;
    color: $white;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .5s ease-out;
    will-change: clip-path;
    // z-index: 15;

    &--is-open {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        // transition: clip-path 1.5s cubic-bezier(.75,.2,0,1);
        transition: clip-path 1s cubic-bezier(.82,-0.01,0,1);
    }

    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: $gutter*5;
        // background-color: red;
        background: linear-gradient(0deg, rgba($primary,0) 0%, rgba($primary,1) 65%);
        z-index: 15;
    }

    @media (max-width: $xxl){
        left: calc(50% - 25vw);
        width: 50vw;
    }

    @media (max-width: $xl){
        left: calc(50% - 30vw);
        width: 60vw;
    }

    @media (max-width: $lg){
        left: calc(50% - (75vw / 2));
        width: 75vw;

        &:before {
            height: $gutter*3;
        }
    }

    @media (max-width: $md){
        border-bottom-right-radius: $radius/2;
        border-bottom-left-radius: $radius/2;
    }

    @media (max-width: $sm){
        border-bottom-right-radius: $radius/3;
        border-bottom-left-radius: $radius/3;
    }
}

.product-nav__wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.product-nav::-webkit-scrollbar {
    display: none;
  }

.product-nav__list {
    @include clean-list;
    padding: $gutter * 5 $gutter $gutter;
    opacity: 0;
    transition: opacity .5s ease-out;

    .product-nav--is-open & {
        opacity: 1;
        transition: opacity .5s ease-out .5s;
    }

    @media (max-width: $lg){
        padding: $gutter*3 $gutter $gutter;
    }

    @media (max-width: $md){
        padding: $gutter*3 $gutter/2 $gutter/2;
    }
}

.product-nav__item {
    border-bottom: 1px solid $white;
    padding-bottom: $gutter/4*6;

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.product-nav__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    // text-align: center;
    font-weight: normal;
    line-height: 1;
    @include fs-xxl-clamp;
    margin: 1em 0;
    text-align: center;
    // overflow: hidden;
}

.product-nav__switch {
    display: flex;
    justify-content: center;
    margin-bottom: $gutter/2;
}

.product-nav__imgs {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: $radius;
    overflow: hidden;
    background-color: $white;
    isolation: isolate;

    @media (max-width: $md){
        border-radius: $radius/2;
    }

    @media (max-width: $sm){
        border-radius: $radius/3;
    }
}

.product-nav__imgs-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 10vh);

    @media (orientation: landscape) {
        height: calc(100% + 10vh);
    }

    @media (orientation: portrait) {
        height: calc(100% + 10vw);
    }
}

.product-nav__img {
    position: absolute;
    //display: none;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    @include object-cover;
    transition: all .25s ease-in-out;
}

.product-nav__img--active {
    display: block;
    opacity: 1;
    visibility: visible;
}

.product-nav__ctas {
    position: relative;
    margin-top: calc($gutter - 1em);
    display: none;

    &--active {
        display: flex;
    }
}

.product-form__error-message-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    font-family: $font-text;
    @include fs-sm;

    span {
        padding-top: 1rem;
    }

    svg {
        display: none;
    }
    
    @media (max-width: $sm){
        @include fs-smallest;
    }

}



.ctas {

}

.loading-overlay__spinner {
    margin-left: .25em;
    width: .8em;
}