.single-product {
    display: flex;

    p {
        @include fs-lg;
        font-family: $font-text;
    }
}

.single-product__gallery {
    position: sticky;
    top: 0;
    left: 0;
    flex: 0 0 50%;
    height: 100vh;
}

.single-product__gallery-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
        @include object-cover;
    }

    &:last-child {
        z-index: 1;
    }

    &:nth-last-child(2){
        z-index: 2;
    }

    &:nth-last-child(3){
        z-index: 3;
    }

    &:nth-last-child(4){
        z-index: 4;
    }

    &:nth-last-child(5){
        z-index: 5;
    }

    &:nth-last-child(6){
        z-index: 6;
    }

    &:nth-last-child(7){
        z-index: 7;
    }

    &:nth-last-child(8){
        z-index: 8;
    }

    &:nth-last-child(9){
        z-index: 9;
    }

    &:nth-last-child(10){
        z-index: 10;
    }

    &:not(:last-child) {

        --mask-dot-width-in: 200%;
        --mask-dot-width-out: 100%;
        --mask-dot-opacity: 1;
        mask: radial-gradient(
            circle at 60% 30%,
            rgba(0, 0, 0, var(--mask-dot-opacity)) var(--mask-dot-width-out),
            rgba(0, 0, 0, 0) var(--mask-dot-width-in)
        ),
        radial-gradient(
            circle at 10% 90%,
            rgba(0, 0, 0, var(--mask-dot-opacity)) var(--mask-dot-width-out),
            rgba(0, 0, 0, 0) var(--mask-dot-width-in)
        ),
        radial-gradient(
            circle at 75% 60%,
            rgba(0, 0, 0, var(--mask-dot-opacity)) var(--mask-dot-width-out),
            rgba(0, 0, 0, 0) var(--mask-dot-width-in)
        ),
        radial-gradient(
            circle at 25% 45%,
            rgba(0, 0, 0, var(--mask-dot-opacity)) var(--mask-dot-width-out),
            rgba(0, 0, 0, 0) var(--mask-dot-width-in)
        ),
        radial-gradient(
            circle at 69% 10%,
            rgba(0, 0, 0, var(--mask-dot-opacity)) var(--mask-dot-width-out),
            rgba(0, 0, 0, 0) var(--mask-dot-width-in)
        ),
        radial-gradient(
            circle at 50% 22%,
            rgba(0, 0, 0, var(--mask-dot-opacity)) var(--mask-dot-width-out),
            rgba(0, 0, 0, 0) var(--mask-dot-width-in)
        ),
        radial-gradient(
            circle at 23% 40%,
            rgba(0, 0, 0, var(--mask-dot-opacity)) var(--mask-dot-width-out),
            rgba(0, 0, 0, 0) var(--mask-dot-width-in)
        ),
        radial-gradient(
            circle at 10% 90%,
            rgba(0, 0, 0, var(--mask-dot-opacity)) var(--mask-dot-width-out),
            rgba(0, 0, 0, 0) var(--mask-dot-width-in)
        );
        
    }
}

.single-product__gallery-item--first {
    background-color: $white;

    img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .25s ease-in-out;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

.single-product__text {
    flex: 0 0 50%;
    text-align: center;
}

.single-product__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 $gutter;
}

.single-product__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}

.single-product__sub-title {
    @include fs-xxl-clamp;
    text-transform: uppercase;
    margin-bottom: 1em
}

.single-product__title__main {
    @include fs-biggest-clamp;
    text-transform: uppercase;
}

.single-product__title__sub {
    @include fs-biggest-clamp;
}

.single-product__variant {
    @include fs-md;
    font-family: $font-text;
    text-transform: uppercase;
}

.single-product__details {

    width: 50%;
    margin-top: $gutter*3;
}

.single-product__receipe-details {
    width: 75%;
}

.single-product__buy {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 200px;
    //background-color: white;
}

.single-product__switch {
    display: flex;
    justify-content: center;
    margin-bottom: $gutter/2;
}

.single-product__cta {
    display: none;

    &--active {
        display: block;
    }
}

.single-product__more {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 $gutter;
}

.single-product__receipe {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $gutter*4 0;

    .btn {
        margin-top: $gutter*2;
    }
}

.single-product__last-img {
    height: 100vh;

    img {
        @include object-cover;
    }
}