.topbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: $gutter;
    // background-color: $white;
    color: $white;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out, padding 0.3s ease-in-out, background 0.3s ease-in-out;
    z-index: 20;

    a {
        color: currentColor;
        text-decoration: none;
    }

    path {
        transition: color 0.3s ease-in-out;
    }

    @media (max-width: $lg){
        padding: $gutter/2 $gutter;
    }

    @media (max-width: $md){
        padding: $gutter/2;
    }
}

.topbar--light {
	color: $white;

	path {
		fill: $white;
	}
}

.topbar--dark {
	color: $primary;

	path {
		fill: $primary;
	}
}

.topbar--is-scrolled {
    background: $white;
    color: $primary;
    // padding: 1.5rem 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.topbar--product-open {
    // .topbar__nav {
    //     color: $white;
    // }
    background: $white;
    color: $primary;
}

.topbar__sigle {
    width: 2em;
    height: 2em;
    margin: 0 1em;

    path {
        fill: currentColor;
    }

    @media (max-width: $md){
        margin: 0 .5em;
    }
}

.topbar__lang,
.topbar__cart {
    font-family: $font-text;
    @include fs-md;
    display: flex;
    flex: 0 0 150px;

    @media (max-width: $lg){
        @include fs-sm;
    }

    @media (max-width: $md){
        @include fs-smallest;
        flex: 0 0 20px;
    }
    
}

.topbar__lang {
    justify-content: flex-start;

    button {
        color: currentColor;
        padding: .1em;
        border: 1px solid currentColor;
        background-color: transparent;
        cursor: pointer;
    }
}

#topbar__lang--form {
    position: relative;
}

.topbar__lang--list-wrapper {
    position: absolute;
}

#topbar__lang--list {
    @include clean-list;
}

.topbar__lang--link {
    padding: .1em;

    &--active {
        display: none;
    }
}

.topbar__cart {
    position: relative;
    justify-content: flex-end;

    &__desktop {
        @media (max-width: $md){
            display: none;
        }
    }

    &__mobile {
        display: none;
        @media (max-width: $md){
            display: block;
        }
    }
}

#cart-icon-bubble {
    position: absolute;
    bottom: calc(100% - .75em);
    left: 100%;
    border: 1px solid currentColor;
    border-radius: 20px;
    font-size: .5em;
    padding: .25em;
    aspect-ratio: 1/1;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    &:empty {
        display: none;
    }
}

.topbar__cart__count {
    line-height: 1;
}

.topbar__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;
    @include fs-xl;
    transition: color 0.3s ease-in-out;

    // .topbar--product-open & {
    //     color: $white;
    // }

    @media (max-width: $lg){
        @include fs-lg;
    }

    @media (max-width: $md){
        @include fs-md;
    }

    @media (max-width: $sm){
        @include fs-sm;
    }
}

.topbar__nav__text {
    display: flex;
    justify-content: flex-start;
    flex: 0 0 200px;

    @media (max-width: $lg){
        flex: 0 0 150px;
    }

    @media (max-width: $md){
        flex: 0 0 110px;
    }

    @media (max-width: $sm){
        flex: 0 0 90px;
    }

    &.product-nav-trigger {
        justify-content: flex-end;
    }

}

cart-notification {
    display: none;
}