.screen-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://cdn.shopify.com/s/files/1/0682/1383/3993/files/tile.jpg?v=1675076315');
    background-size: cover;
    background-position: center;

    h1 {
        width: 80%;
        @include fs-biggest-clamp;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: .25em;
        opacity: 0;
        visibility: hidden;

        .no-js & {
            opacity: 1;
            visibility: visible;
        }

        span {
            display: inline-block;
        }
    }
}