.btn-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .btn {
        margin: .5em;
        flex-shrink: 0;
        //flex-grow: 1;

        // &:last-child {
        //     margin-right: 0;
        // }
    }

    @media (max-width: $md){

        .btn {
            margin: .25em;
        }
        
    }
}

.btn, button {
    @include btn;
    background-color: var(--color);
    color: $primary;

    &:after {
        display: none!important;
    }
    
}

.btn--light {
    background-color: $white;
    color: $primary;

    &:before {
        background-color: $primary;
    }

    &:hover {
        color: $white;
    }

    &.btn--neg {
        border: 1px solid $white;
        color: $white;

        &:before {
            background-color: $white;
        }

        &:hover {
            color: $primary;
        }
    }
}

.btn--dark {
    background-color: $primary;
    color: $white;

    &:before {
        background-color: $white;
    }

    &:hover {
        color: $primary;
    }

    &.btn--neg {
        border: 1px solid $primary;
        color: $primary;

        &:before {
            background-color: $primary;
        }

        &:hover {
            color: $white;
        }
    }
}

.btn--neg {
    background-color: transparent;
}