.switch {
    --active-after-x: 0;
    position: relative;
    display: flex;
    height: 56px;
    @include fs-md;
    padding: 0;
    background-color: rgba($white, .2);
    border: 6px solid transparent;
    color: white;
    border-radius: 56px;
    font-family: $font-text;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 100%;
        width: 140px;
        border-radius: 56px;
        background-color: $primary;
        transform: translate3d(var(--active-after-x), 0, 0);
        transition: transform .25s ease-in-out;
    }

    .single-product__switch & {
        background-color: rgb(204, 204, 224);
        color: $primary;

        &:before {
            background-color: $white;
        }
    }

    @media (max-width: $xl){
        height: 40px;
        @include fs-sm;
        border: 3px solid transparent;

        &:before {
            width: 100px;
        }
    }

    @media (max-width: $md){
        height: 30px;
        @include fs-smallest;
        border: 3px solid transparent;

        &:before {
            width: 75px;
        }
    }

}

.switch__btn {
    margin: 0;
    width: 140px;
    padding: 0;
    background-color: transparent;
    color: currentColor;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    text-transform: uppercase;
    position: relative;
    z-index: 5;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: $xl){
        width: 100px;
    }

    @media (max-width: $md){
        width: 75px;
    }
}