.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;

    .blog-item__infos & {
        margin-top: 0;
    }

    .multiple & {
        margin-top: 0;
    }
}

.title__main {
    @include fs-xl-clamp;

    @media (max-width: $md){
        @include fs-lg;
    }
}

.title__sub {
    font-family: $font-text;
    @include fs-md;

    @media (max-width: $md){
        @include fs-sm;
    }
}